{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}

        {% endblock %}
    </title>
    <!-- CDNS -->
   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet">
<style>
  .nav li a{
    color: rgb(244, 23, 200);
    font-size: 20px;
  }
  .navbar-brand{
    color: rgb(244, 23, 200);
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
</style>
</head>
<body>
    <!-- navbar start -->
    <nav class="navbar navbar-bg-light">
  <div class="container-fluid ">
    <div class="navbar-header ">
      <a class="navbar-brand" href="#">Events</a>
    </div>
    <ul class="nav navbar-nav mx-auto ">
      <li class="active"><a href="{% url 'index' %}">Home</a></li>
      <li><a href="{% url 'about' %}">About</a></li>
      {% if user.is_authenticated %}
      <li><a href="{% url 'events' %}">Events</a></li>
      <li><a href="{% url 'booking' %}">Booking</a></li>
      <li><a href="{% url 'contact' %}">Contact</a></li>
      <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> LogOut</a></li>
    </ul>
    <h3>{{user.username}}</h3>
    {% else %}
    <ul class="nav navbar-nav navbar-right">
      <li><a href="{% url 'register' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    {% endif %}
    </ul>
  </div>
</nav>

{%block content%}

{% endblock %}

</body>
</html>