{% extends 'base.html' %}
{% load static %}
{%block title%}
Events
{% endblock %}

        {%block content%}
<h2 class="text-center">Events</h2>
<div class="container">
         {% for i  in eve %}
        <div class="card text-center" style="width: 20rem; display:inline-block;margin: 20px;">
                <img src="{{i.img.url}}" class="card-img-top" alt="..." height="150px" width="200px">
                <div class="card-body">
                  <h5 class="card-title">{{i.name}}</h5>
                  <p class="card-text">{{i.desc}}</p>
                </div>
              </div>
              {% endfor %}
              <!-- <div class="card text-center" style="width: 18rem; display:inline-block;margin: 20px;">
                <img src="{% static 'images/page1_img2.jpg' %}" class="card-img-top" alt="..." height="150px" width="200px">
                <div class="card-body">
                  <h5 class="card-title">Event2</h5>
                  <p class="card-text">Best option for your Events....!!Join with Us..</p>
                </div>
              </div>
              <div class="card text-center" style="width: 18rem; display:inline-block;margin: 20px;">
                <img src="{% static 'images/page1_img3.jpg' %}" class="card-img-top" alt="..." height="150px" width="200px">
                <div class="card-body">
                  <h5 class="card-title">Event3</h5>
                  <p class="card-text">Best option for your Events....!!Join with Us..</p>
                </div>
              </div> -->
</div>

{% endblock %}