{% load static %}
    <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/styleuser.css' %}">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <div class="title">Registration</div>
    <div class="content">
     <form action="" method="post">
        {% csrf_token %}
        <div class="user-details">
          <div class="input-box">
             <label>User Name : </label>
        <input type="text" name="username">
          </div>
          <div class="input-box">
            <label>E-Mail ID : </label>
            <input type="email" name="email">
          </div>
          <div class="input-box">
               <label>Password : </label>
               <input type="password" name="password">  
          </div>
          <div class="input-box">
           <label>Confirm Password: </label>
           <input type="password" name="confirmpassword">
          </div>
          </div>
        <div class="button">
          <input type="submit" name="submit" value="SignUp">
        </div>
      </form>
         <div>
  {% for message in messages %}
  <script>
    alert('{{message}}');
  </script>
  {% endfor %}
    </div>
    </div>
  </div>
</body>
</html>